body {
    position: absolute;
    width: 100%;
    background: red;
    font-weight: 400;
    font-size: 2rem;
    height: 100%;
}

#indicator > img {
    width: 20%;
    float: right;
}

#permission {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
}
