@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    position: absolute;
    width: 100%;
    background: #fff !important;
    font-weight: 400;
    font-size: 2rem;
    height: 100%;
}

#indicator {
    width: 20%;
    right: 0;
    top: 350px;
    position: absolute;
    animation: topDown 1s ease-in-out infinite;
    -moz-animation: topDown 1s ease-in-out infinite;
    -webkit-animation: topDown 1s ease-in-out infinite;
}

#indicator > svg > path {
    fill:rgb(112, 108, 108);
}

.right {
    float: right;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.modal-body > p {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#consent {
    width: 98%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2px;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

@keyframes topDown {
    0%,
    100% {
      transform: translate(0, -10px);
    }
  
    50% {
      transform: translate(0, 10px);
    }
}
